<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupter Notebook on IBM Watson Studio

## Sumeet Jindal
I am working as HR Professional and aspire to connect data science with HR Analytics.

*I am interested to learn Data Science to capture those emotional leads in the data which we miss while working on different HR Aspects like for example Attrition. With better systems now and connected world, this data of emotion can be taken from the social media posts of an individual and this may somewhere help in better decision making*

### In Cell 5, i am trying to put a simple mathematical formula

In [2]:
4+4*4*5

84

I am creating an unordered (bulleted) a list as below
* First line
* The second one
* And so on

Also, the second thing i am making is a short table

| S. No       | Name             | Age      |
|-------------|:----------------:|----------|
| 1.          | Rachyeta         | 34       |
| 2.          | Piyush           | 45       |
| 3.          | Utkarsh          | 33       |

~~But i still have to figure out that why the vertical lines are not appearing. I will explore and learn~~

and those were three things that were asked to do.